In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
diamond = pd.read_csv("Diamonds.csv")

In [3]:
diamond.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
diamond.shape

(53940, 10)

In [5]:
diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [6]:

diamond.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [7]:
diamond.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [8]:
diamond.cut.value_counts()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [9]:
diamond.cut.replace({'Ideal':0,'Fair':1,'Good':2,'Very Good':3,'Premium':4},inplace=True)

In [10]:
diamond.cut.value_counts()

cut
0    21551
4    13791
3    12082
2     4906
1     1610
Name: count, dtype: int64

In [11]:
diamond.color.value_counts()

color
G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: count, dtype: int64

In [12]:
diamond.color.replace({'D':6,'E':5,'F':4,'G':3,'H':2,'I':1,'J':0},inplace=True)

In [13]:
diamond.color.value_counts()

color
3    11292
5     9797
4     9542
2     8304
6     6775
1     5422
0     2808
Name: count, dtype: int64

In [14]:
diamond.clarity.value_counts()

clarity
SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: count, dtype: int64

In [15]:
diamond.clarity.replace({'IF':7,'VVS1':6,'VVS2':5,'VS1':4,'VS2':3,'SI1':2,'SI2':1,'I1':0},inplace=True)

In [16]:
diamond.clarity.value_counts()

clarity
2    13065
3    12258
1     9194
4     8171
5     5066
6     3655
7     1790
0      741
Name: count, dtype: int64

In [17]:
diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  int64
 2   color    53940 non-null  int64
 3   clarity  53940 non-null  int64
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(4)
memory usage: 4.1 MB

In [18]:
# define y and X
diamond.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [19]:
y = diamond['price']
X = diamond[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z']]

In [20]:
# split data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2529)

In [21]:
# select a model
import statsmodels.api as sm

In [22]:
X1 = sm.add_constant(X)

In [23]:
model = sm.OLS(y,X1)

In [27]:
print(model.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.906
Model:                            OLS   Adj. R-squared:                  0.906
Method:                 Least Squares   F-statistic:                 5.794e+04
Date:                Wed, 14 Feb 2024   Prob (F-statistic):               0.00
Time:                        13:29:22   Log-Likelihood:            -4.5993e+05
No. Observations:               53940   AIC:                         9.199e+05
Df Residuals:                   53930   BIC:                         9.200e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8380.4319    382.945     21.884      0.000    7629.857    9131.007
carat       1.075e+04     52.045    206.558      0.000    1.06e+04    1.09e+04
cut           15.4392      3.633      4.249      0.000       8.318      22.561
color        322.0973      3.272     98.428      0.000     315.683     328.511
clarity      509.3650      3.536    144.063      0.000     502.435     516.295
depth       -114.7494      4.530    -25.330      0.000    -123.628    -105.870
table        -64.6579      2.888    -22.391      0.000     -70.318     -58.998
x           -866.1240     35.362    -24.493      0.000    -935.435    -796.813
y             35.0596     20.830      1.683      0.092      -5.768      75.887
z            -40.3030     36.157     -1.115      0.265    -111.170      30.564
==============================================================================
Omnibus:                    12485.128   Durbin-Watson:                   1.147
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           659665.526
Skew:                          -0.158   Prob(JB):                         0.00
Kurtosis:                      20.129   Cond. No.                     6.20e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.2e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [28]:
y = diamond['price']
X = diamond[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x']]

In [29]:
# select a model
import statsmodels.api as sm

In [30]:
X1 = sm.add_constant(X)
model = sm.OLS(y,X1)

In [31]:
print(model.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.906
Model:                            OLS   Adj. R-squared:                  0.906
Method:                 Least Squares   F-statistic:                 7.449e+04
Date:                Wed, 14 Feb 2024   Prob (F-statistic):               0.00
Time:                        13:29:25   Log-Likelihood:            -4.5993e+05
No. Observations:               53940   AIC:                         9.199e+05
Df Residuals:                   53932   BIC:                         9.199e+05
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8549.1455    360.222     23.733      0.000    7843.107    9255.184
carat       1.075e+04     52.016    206.715      0.000    1.07e+04    1.09e+04
cut           15.3720      3.633      4.231      0.000       8.252      22.492
color        322.0954      3.272     98.428      0.000     315.682     328.509
clarity      509.3704      3.535    144.081      0.000     502.441     516.300
depth       -117.3399      3.998    -29.348      0.000    -125.177    -109.503
table        -64.7414      2.887    -22.427      0.000     -70.400     -59.083
x           -856.9145     22.044    -38.873      0.000    -900.121    -813.708
==============================================================================
Omnibus:                    12496.718   Durbin-Watson:                   1.147
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           661455.350
Skew:                          -0.160   Prob(JB):                         0.00
Kurtosis:                      20.152   Cond. No.                     5.81e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.81e+03. This might indicate that there are
strong multicollinearity or other numerical problems.